@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;

  @apply text-black dark:text-white;
}

.transitable {
  @apply transition-all duration-300;
}

.link {
  @extend .transitable;
  @apply text-gray-500 hover:text-gray-800 dark:text-gray-300 dark:hover:text-gray-500;
}

#app {
  @apply w-full h-full;
}
